{% extends "base.html" %}
{% block titel %} لیست در خواستها {% endblock%}
{% block content %}   
 <table class="table table-striped table-hover">   
        <tr>
            <th> نام و نام خانوادگی   </th>

            <th> شماره قسط  </th>
            <th>   تاریخ سررسید   </th>
            
            <th>  تاریخ درخواست      </th>
    
          </tr>
          <tr>
           {% for list in object_list %}
            {% if list.acceptDate == None %}  
             <td> {{list.Aghsat.loan.member}} </td>
             <td> {{list.Aghsat.shomareh}} </td>
             <td> {{list.Aghsat.tarikh}} </a> </td>
             <td> {{ list.startDate}}  </td>
             <td> <a href="/modir/taidedarkhast/{{list.id}}"> تایید</td>
    
    
      
          </tr>
             {% endif %}   
           {% endfor %}
      
      
        </table>
     
{% endblock %}
