<!DOCTYPE html>
 <head>
    <title>{{configpage.title}}</title>    

    
 </head>
 <body>
    <h1> به قسمت پرداخت وام خوش آمدید</h1>
       <h2> کاربر مورد نظر شما در حال حاضر هیچ وام فعالی ندارد</h2>
       <h2> در حال حاضر امکان دریافت وامی به مبلغ {{etebr_vam}} دارد</h2>
        <h2>  <a href="/modir/pardakhtloan/{{id}}"> کلیک کنید</a>درصورت تایید </h2>               
        <h2>  <a href="/modir/members"> خارج شوید  </a>درصورت غیر این صورت  </h2>               
        

 </body> 
</html >